# IDE - VSCode
.vscode/

# IDE - JetBeans project files
*.iml
*.iws
*.ipr
.idea/

# Byte-compiled / optimized
__pycache__/
*.py[cod]

# Virtual environment
venv
.venv

# Flask
logs/

# Files subdirectory
files/
